@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=latin-ext);

$mainorange: #ff5714;
$mainblue:   #0ba5f0;

html{
    height: 100%;
}

body {
    background-color:#f0f0f0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #fff;
    height: 100%;
}

// LINKS
a{
    color: #fff;
    transition: all .35s ease-in-out;
    &:hover,
    &:active,
    &:focus{
        color: $mainorange;
        text-decoration: none;
    }
}

p{
    a{
        border-bottom: 1px dotted #fff;
        &:hover,
        &:active,
        &:focus{
            border-bottom: 1px dotted $mainorange;
        }
    }
}

// TITLES & TEXT
h1{
    font-family: 'Open Sans';
    font-size: 48px;
    color: $mainorange;
    margin-top: -5%;
    padding-bottom: 100px;
    .light{
        font-weight: 300;
    }
}

h2{
    font-size: 36px;
    font-weight: 300;
    margin: 10px 0 50px;
    .text-muted{
        font-size: 18px;
        font-weight: 300;
    }
}

.subtitle{
    padding: 10px;
    background-color: $mainorange;
    color: #fff;
    font-weight: 300;
    font-size: 28px;
    line-height: 64px;
}

//NAVBAR
nav{
    .logo{
        padding: 0;
        font-size: 18px;
        color: $mainorange;
        line-height: 46px;
        .light{
            font-weight: 300;
        }
        img{
            max-width: 18px;
            margin-top: -5px;
        }
    }
    &.white{
        float: none;
        text-align: center;
        background-color: #fff;
        .navbar-nav{
            float: none;
            text-align: center;
            li {
                float: none;
                display: inline-block;
                &:not(:first-child):before {
                    color: #999;
                    font-weight: 300;
                    content: " | ";
                }
                a{
                    display: inline-block;
                    color: #999 !important;
                    font-weight: 300;
                    &:hover,
                    &:active,
                    &:focus{
                        color: $mainorange !important;
                    }
                }
            }
        }
    }
}

//SECTIONS
header{
    background: url('../images/bg.jpg');
    background-repeat:no-repeat;
    background-position:50% 50%;
    img{
        margin-top: -9px;
    }
    &.fullscreen,
    .horizontal{
        width:100%;
        height:100%;
        overflow:hidden;
    }
    .horizontal{
        display:table;
    }
    .vertical{
        display:table-cell;
        position:relative;
        vertical-align:middle;
        text-align:center;
    }
}

#about{
    padding: 50px 0;
    background-color: $mainblue;
    h2{
        .text-muted{
            color: #eee;
        }
    }
    .photo{
        border: 5px solid #fff;
        max-width: 260px;
        display: inline-block;
    }
    p{
        font-size: 18px;
        line-height: 24px;
        text-align: justify;
        &.social{
            padding-top: 10px;
            a{
                font-size: 26px;
                border: 0;
                margin-right: 10px;
            }
        }
    }
}

#skills{
    padding: 50px 0;
    h2{
        color: #333;
    }
    .progress{
        height: auto;
        background-color: #e1e1e1;
        box-shadow: none;
        border-radius: 0;
        border: 1px solid #fff;
        .progress-bar{
            background-color: $mainorange;
            font-size: 14px;
            line-height: 24px;
            text-align: left;
            text-transform: uppercase;
            border-radius: 0;
            padding: 5px 10px;
            div{
                overflow-x: hidden;
            }
        }
    }
}

#portfolio{
    padding: 50px 0;
    background-color: $mainorange;
    h2{
        margin-bottom: 15px;
        .text-muted{
            color: #eee;
        }
    }
    .filtr{
        margin-bottom: 15px;
        li{
            display: inline-block;
            text-transform: lowercase;
            font-size: 16px;
            cursor: pointer;
            &:not(:first-child):before {
                content: " | ";
            }
        }
    }
    .filtr-item{
        position: absolute;
        padding-bottom: 15px;
        img{
            filter: grayscale(100%);
            transition: filter .35s ease-in-out;
            &:hover{
                filter: grayscale(0%);
            }
        }
    }
    .item-desc{
        background-color: rgba(0,0,0,0.5);
        font-weight: 300;
        left: 15px;
        right: 15px;
        bottom: 15px;
        display: block;
        padding: 8px;
        position: absolute;
        text-transform: uppercase;
    }
}

//blog
#blog{
    padding: 50px 0;
    background-color: #fff;
    color: #333;
    article{
        margin-bottom: 25px;
        p{
            text-align: justify;
        }
        .date{
            position: relative;
            time{
                position: absolute;
                bottom: 15px;
                right: 15px;
                text-align: center;
                background-color: rgba(0,0,0,.5);
                color: #ddd;
                padding: 10px;
                font-size: 14px;
            }
        }
        h3{
            margin: 20px 0;
        }
    }
}

//contact
#contact{
    background-color: #2e2e2e;
    padding: 50px 0;
    h2{
        margin-bottom: 25px;
    }
    .social{
        font-size: 26px;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 6px;
        a{
            &:focus,
            &:hover,
            &:active{
                color: $mainblue;
            }
        }
    }
    //form
    input.form-control{
        height: 43px;
    }
    input[type=text],
    input[type=email],
    textarea{
        background-color: rgba(255, 255, 255, 0);
        margin-bottom: 25px;
        border-radius: 0;
        box-shadow: none;
        font-size: 16px;
        line-height: 32px;
        color: #aaa;
        &:focus{
            box-shadow: none;
            color: #fff;
            border-color: $mainblue;
        }
    }
    textarea{
        resize: none;
    }
    .btn{
        font-size: 16px;
        text-transform: uppercase;
    }
}

//custom buttons
.btn{
    color: #fff;
    border-radius: 0;
    border: 0;
    transition: all .35s ease-in-out;
    &.btn-orange{
        background-color: $mainorange;
        &:hover,
        &:active,
        &:focus{
            background-color: darken($mainorange, 10%);
            color: #fff;
        }
    }
    &.btn-blue{
        background-color: $mainblue;
        &:hover,
        &:active,
        &:focus{
            background-color: darken($mainblue, 10%);
            color: #fff;
        }
    }
}

//footer
footer{
    background-color: #2a2a2a;
    padding: 10px;
    text-align: center;
    font-size: 14px;
    img{
        max-width: 36px;
        margin: 8px 0;
    }
}

//mobile
@media (min-width:770px) {

    #about{
        .photo{
            border: 5px solid #fff;
            max-width: 100%;
            display: block;
        }
    }

}

@media (max-width:768px) {

    .navbar-header{
        text-align: left;
        padding-left: 25px;
    }

    .navbar-toggle{
        padding:0;
        color: #333;
        border:0;
        margin: 10px 25px;
        &:hover{
            background-color: transparent !important;
        }
    }
}

@media (max-height:640px) {

    h1{
        margin-top: 0;
        padding-bottom: 25px;
    }

}
